body {
    background-image: url(../image/fon.png);
    background-size: cover;
}

.navigation {
  text-align: center;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  font-family: arial;
  font-size: 22px;
  color: #d4ad84;
}

.blockalphabet {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align:center;
  padding:10pt;
}

.blockalphabet > div {
  margin:10pt;
  padding:10pt;
  width:140px;
  height:150px;
  display:inline-block;
  vertical-align: middle;
}

.streamers {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align:center;
  padding:10pt;
}

.streamers > div{
  margin:10pt;
  display:inline-block;
  vertical-align: middle;
}

.progressText {
  position: absolute;
    color: #d4ad84;
    top: 72%;
}

.rules {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 80%;
  padding:10pt;
}

.avatarDiv {
  margin-top: -30%;
}

.gameslist {

}
