body {
    background-image: url(../image/fon.png);
}

.navigation {
  text-align: center;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  font-family: arial;
  font-size: 22px;
  color: #d4ad84;
}

.blockalphabet {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align:center;
  padding:10pt;
}

.char {
  margin:10pt;
  padding:10pt;
  width:140px;
  height:150px;
  display:inline-block;
  vertical-align: middle;
}
