body {
    background-image: url(../image/fon.png);
}

.navigation {
  text-align: center;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  font-family: arial;
  font-size: 22px;
  color: #d4ad84;
}

.blockalphabet {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align:center;
  padding:10pt;
}

.char0, .char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10,
.char11, .char12, .char13, .char14, .char15, .char16, .char17, .char18, .char19, .char20, .char21, .char22, .char23, .char24, .char25  {
  margin:10pt;
  padding:10pt;
  width:140px;
  height:150px;
  display:inline-block;
  vertical-align: middle;
}

.avatarDiv {
  margin-top: -30%;
}
